.tela-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-grafico-logo {
  max-width: 300px;

  width: 40%;

  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-grafico-logo svg {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4846a7;
}
