/*Colocar negrito na sections com id alvo apenas na variavel p*/
#alvo p {
    font-size: 200px;
    font-weight: bold;
}
section {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
}
p {
    font-size: 16px;
    color: #333;
}